{% load wagtailsettings_tags %}
{% get_settings as analytics_settings %}

{% if analytics_settings.analytics.analyticssettings.gtm_enabled and analytics_settings.analytics.analyticssettings.gtm_container_id %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ analytics_settings.analytics.analyticssettings.gtm_container_id }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
