.elementor-kit-5{--e-global-color-primary:#D62042;--e-global-color-secondary:#9E1D59;--e-global-color-text:#FFFFFF;--e-global-color-accent:#C91F48;--e-global-color-24f6d82:#000000;--e-global-color-559d182:#FFFFFF;--e-global-typography-primary-font-family:"FilsonPro";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"FilsonPro";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"FilsonPro";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"FilsonPro";--e-global-typography-accent-font-weight:500;}.elementor-kit-5 e-page-transition{background-color:#FFBC7D;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){--kit-widget-spacing:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'FilsonPro';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://agenciakaizen.com.br/wp-content/uploads/2025/05/FilsonProThin.ttf') format('truetype');
}
@font-face {
	font-family: 'FilsonPro';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://agenciakaizen.com.br/wp-content/uploads/2025/05/FilsonProRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'FilsonPro';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('https://agenciakaizen.com.br/wp-content/uploads/2025/05/FilsonPro-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'FilsonPro';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('https://agenciakaizen.com.br/wp-content/uploads/2025/05/FilsonPro-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'FilsonPro';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://agenciakaizen.com.br/wp-content/uploads/2025/05/FilsonPro-Medium.ttf') format('truetype');
}
/* End Custom Fonts CSS */